body {
    margin: 0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 180px;
    background-color: #2bea32;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.brand {
    display: flex;
    align-items: center;
    gap: 20px;
}

.brand img {
    width: 75px;
    height: 60px;
    object-fit: cover;
}

.brand span {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    font-family: TacOne;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
    font-family: Afacad;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

.nav-links a:hover {
    color: #007bff;
}

.profile-pic-nav {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

/* SEARCH BAR */
.search-container {
    max-width: 100%;
    display: flex;
    justify-content: center;      
}

.search-bar {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field {
    width: 600px;
    background-color: #8d8d8d;
    border-radius: 25px;        
    padding: 10px 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.search-container input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    color: #fff;              
    align-items: center;
}

.search-container input::placeholder {
    color: #e5e5e5;             
}

.search-icon {
    font-size: 18px;
    color: white;
    cursor: pointer;
}

/* ARTICLES SECTION */
.articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.articles-box {
    width: 1000px;
    height: 300px;
    background: #ddd;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    overflow-y: auto;
    border-radius: 6px;
}

.article {
    display: grid;
    gap: 40px;
    background: #b6b6b6;
    border-radius: 10px;
    text-align: center;
}

/* FONTS */
@font-face {
  font-family: Afacad;
  src: url(../src/Fonts/Afacad-VariableFont_wght.ttf);
}

@font-face {
    font-family: TacOne;
    src: url(../src/Fonts/TacOne-Regular.ttf);
}